/* Style for Studio */
:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-bg-color: #fff;
  --accent-color: #2196f3;
  --logo-color: #000000;
  --secondary-bg-color: #2f303a;
  --link-color: rgba(255, 255, 255, 0.6);
}

* {
  outline: 0.5px solid red;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  width: 1200px;
}

.header {
  background-color: var(--primary-bg-color);
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-container{
  display: flex;
  align-items: center;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--accent-color);


}

.logo-header {
  color: var(--logo-color);
}


.header-contact {
  display: flex;
  margin-left: auto;
}
.navigation {
  display: flex;
}

.nav-list{
  display: flex;
  margin-left: 93px;
}

 .nav-item {
  margin-right: 50px;
} 

.nav-item:last-child {
  margin-right: 0;
}
/* 
.nav-list .nav-item + .nav-item {
  margin-left: 50px;
} */

.nav-link {
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
}

.active {
  color: var(--accent-color);
}

.nav-link:focus,
.nav-link:hover {
  color: var(--accent-color);
}

.header-contact-link {
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--secondary-text-color);
 
}

.header-contact-item {
  margin-right: 50px;
}

  .header-contact-item:last-child {
  margin-right: 0;
}

.header-contact-link:hover {
  color: var(--accent-color);
}

.hero {
  background-color: var(--secondary-bg-color);
  padding-top: 195px;
  padding-bottom: 200px;
}

.title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-bg-color);
 
}

.hero-button {
  display: block;
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;

}

.hero-button:focus,
.hero-button:hover {
  color: var(--accent-color);
  background-color: var(--primary-bg-color);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--primary-text-color);
}

.benefits {
  margin-top: 90px;
  margin-bottom: 90px;
}

.hidden {
  display: none;
}

.benefits-list {
  display: flex;
}

.benefits-item {
  margin-right: 30px;
}

.benefits-item:last-child {
  margin-right: 0;
}

.benefits-subtitle {
  font-weight: 700;
  line-height: 1.4;

  margin-bottom: 10px;
}

.benefits-description {
  color: var(--secondary-text-color);
}

.about-list {
  display: flex;
  justify-content: center;

  margin-top: 50px;
}

.about-item {
  margin-right: 30px;
  margin-bottom: 94px;
}

.about-item:last-child {
  margin-right: 0px;
}

.team-container {

  padding-top: 94px;
}

.team-list {
  display: flex;
  justify-content: center;

  padding-top: 50px;
  padding-bottom: 50px;
  
}

.team-item {
  margin-right: 30px;
}

.team-item:last-child {
  margin-right:0;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-text-color);

  margin-top: 30px;
  margin-bottom: 10px;
}

.team-position {
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-text-color);
}

.footer {
  background-color: var(--secondary-bg-color);
}

.logo-footer {
  color: var(--primary-bg-color);
}

.address-link {
  font-style: normal;
  text-decoration: none;
  color: var(--link-color);
}

.first {
  color: var(--primary-bg-color);
}

.address-link:focus,
.address-link:hover {
  color: var(--accent-color);
}

/* Style for Portfolio */

.filter-btn {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
}

.filter-btn:focus,
.filter-btn:hover {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
}

.gallery-name {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.gallery-text {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-text-color);
}

.gallery-link {
  text-decoration: none;
}
